/** Comment form styles **/
#post-comments > h2 {
	font-size: 18px;
	border-top: dotted 1px #DDD;;
	margin-top: 2em;
}
#code-comment-form #comment {
	width: 450px;
	height: 100px;
}
#code-comment-form #language_id {
	width: 250px;
}
#comment-messaging {
	padding: 0;
	margin: 0;
	width: 458px;
	height: 52px;
}
#comment-messaging .error,
#comment-messaging .success {
	display: none;
	margin-top: 10px;
}
#post-comment-w {
	margin-bottom: 10px;
	float: left;
	width: auto;
}
#post-comment-w .comment-w {
	padding: 5px 5px 5px 35px;
	margin-top: 10px;
	border-top: dotted 1px #ddd;
}
#post-comment-w .comment-author {
	text-align: right;
}
.comment-author .comment-date {
	color: #999;
}
#comment-form-w {
	padding: 5px 5px 5px 35px;
	margin-top: 20px;
	clear: both;
}