/** Globals **/
html {
	background-color: #EDE8E3;
}
body {
	margin: 0 !important;	
}
body .container {
	color: #444444;
}
header a,
#content a,
footer a {
	text-decoration: none;
}

/** Header **/
header {
	background: none repeat scroll 0 0 #332C22;
	border-bottom: 10px solid #DAD0C7;
	padding-top: 10px;
	width: 100%;
}
#head-top {
	margin-bottom: 10px;
}
#head-top h1 {
	margin: 0.395em 0;
}
#head-top h1,
#head-top h1 a,
#head-top h1 a:hover {
	color: #FFCC33 !important;
	float: left;
	width: 470px;
	padding: 0;
}
#head-top h1 a {
	text-decoration: none;
	font-size: 0.75em;
	line-height: 19px;
}
#head-top h1 span {
	display: block;
	font-size: 0.6em;
	margin-top: 0.;
	float: left;
	width: 470px;
	color: #BBAA99;
	font-weight: lighter;
	font-variant: small-caps;
	letter-spacing: 1px;
	text-transform: lowercase;
	padding: 0 2px;
	font-size: 0.495em;
	line-height: 16px;
}
#user-bar {
	float: left;
	width: 470px;
	padding: 35px 0 0 0;
	margin: 0;
	color: #BBAA99;
	font-family: Helvetica,Arial,sans-serif;
	text-align: right;
}
#username-span {
	background: transparent url(/media/images/app-icons/user.png) no-repeat center left;
	padding-left: 20px;
	padding-right: 0.5em;
}
#user-bar #username-span a {
	color: #BA9;
	font-weight: bolder;
}
#user-bar a {
	color: #4499AA;
	text-decoration: none;
}
#user-bar a:hover {
	color: #993333 !important;
}
/**************************************/
/*             NAVIGATION             */
/**************************************/
#head-nav {
	background: url("/media/images/head-navbg.png") repeat scroll 0 0 transparent;
	height: 3.7em;
}
#head-nav ul {
	padding: 5px 0 0 0;
	margin: 0;
	float: left;
	width: 940px;
	list-style-type: none;
}
#head-nav li {
	width: auto;
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0 2em 0 0;
	text-indent: 0;
	text-transform: lowercase;
	width: 12em;
}
#head-nav a {
	color: #975;
	display: block;
	line-height: 1.25;
	padding-bottom: 1em;
	text-decoration: none;
}
#head-nav li.selected a {
	background:url("/media/images/head-navselected.gif") no-repeat scroll 0 100% transparent;	
}
#head-nav a:hover,
#head-nav li.selected a {
	color: #ca8;
}
#head-nav a strong {
	display: block;
	font-size: 1.1em;
	color: #ba9;
}
#head-nav a:hover strong,
#head-nav li.selected a strong {
	color: #fff;
}

/**************************************/
/*            SEARCH BAR              */
/**************************************/
#search-bar {
	position: absolute;
	margin-left: 500px;
	margin-top: 12px;
}
#search-bar input {
	float: left;
	display: block;
}
#search_keyword {
	width: 250px;
	height: 22px;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-family: Helvetica,Arial,sans-serif;
}
#search_submit {
	width: 80px;
	height: 25px;
	margin: -1px 0 0 5px;
	padding: 0;
}
/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#content {
	width: 100%;
	background-color: #fff;
	padding: 20px 0;
}
#main-content > h1, #side-bar > h1 {
	font-size: 1.7em;
	font-weight: normal;
	margin: 0 0 1em 0;
	text-transform: none;
}
#form-wrapper {
	border-top: 1px solid #ECE9E6;
	float: left;
	padding-top: 1.7em;	
}
#side-bar {
	
}
/**************************************/
/*               FOOTER               */
/**************************************/
footer {
	background: none repeat scroll 0 0 #EDE8E3;
	width: 100%;
}
footer a {
	color: #999999;
}
footer a:hover {
	color: #780c0c;
}
footer .container {
	padding-top: 20px;
}
#foot_nav {
	text-align: center;
}
#foot_nav ul {
	list-style-type: none;
	margin: 0.6em 0;
}
#foot_nav li {
	display: inline;
	padding-left: 5px;
}
#foot_nav li:first-child {
	padding-left: 0;
}

/** Per page styles **/
#form-wrapper {
	width: 100%;
}
/*#form-wrapper input[type='submit'] {
	padding:0.3em 0.4em 0.15em;
}
#form-wrapper input[type='text'],
#form-wrapper input[type='password'] {
	width: 150px;	
}
#form-wrapper textarea {
	width: 350px;
	height: 52px;	
}*/

/** Comment form styles **/
#code-comment-form #comment {
	width: 450px;
	height: 100px;
}
#code-comment-form #language_id {
	width: 250px;
}
#comment-messaging {
	padding: 0;
	margin: 0;
	width: 458px;
}
#comment-messaging .error,
#comment-messaging .success {
	display: none;
	margin-top: 10px;
}
#post-comment-w {
	margin-bottom: 10px;
}
#post-comment-w .comment-w {
	padding: 5px 5px 5px 35px;
	margin-top: 10px;
	border-top: dotted 1px #ddd;
}
#post-comment-w .comment-author {
	text-align: right;
}
.comment-author .comment-date {
	color: #999;
}
/** Index page styles **/
#code-post-list,
#code-post-list ul {
	list-style-type: none;
	margin-left: 0 !important;
}
#code-post-list > li > a{
	font-size: 1.4em;
}


/** Misc styles **/
img.ajax-spinner {
	display: none;
}
